// Hero

.hero {
  position: relative;
  color: $white;

  &__container {
    margin: 0;
    padding: 0 160px;
    padding-top: 240px;
    padding-bottom: 116px;
    background-image: url("../img/hero-img-1.jpg");
  }

  &__header {
    width: 36%;
    margin: 0;
    font-size: 72px;
    line-height: 82px;
    font-weight: 700;
  }

  &__description {
    width: 36%;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 92px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  &__btn {
    position: relative;
    max-width: 320px;
    border: 3px solid $pink;
    transition: border 0.2s ease, background-color 0.2s ease;
  }

  &__btn:hover {
    border: 3px solid $light-pink;
  }

  &__btn:focus {
    outline: 0;
  }

  &__btn::after {
    content: "";
    position: absolute;
    padding: 42px 165px;
    top: -10px;
    bottom: 0;
    right: 0;
    left: -12px;
    border: 3px solid $dark-pink;
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__btn:focus::after {
    opacity: 1;
  }

  &__btn:active {
    background-color: $dark-pink;
  }
}
