@import "normalize.scss";

$black: #000000;
$white: #FFFFFF;
$dark-gray: #333333;
$gray: #999999;
$light-gray: #CACACA;
$light-pink: #C283F3;
$pink: #9D5CD0;
$pink-dark: #7943A4;

* {
  box-sizing: border-box;
}

div:focus, 
li:focus,
a:focus, 
svg:focus, 
input:focus,
span:focus, 
label:focus {
   outline-width: 2px;
   outline-style: solid;
   outline-color: $pink-dark;
   outline-offset: 5px;
}

body {
  font-family: 'Open Sans', serif;
  background-color: $white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 160px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 320px;
  padding: 22.5px 35px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  background-color: $pink;
}

.section-header {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: $dark-gray;
}

// Header

.header {

      position: absolute;
      width: 100%;
      z-index: 1;

		&__upper-container {
         margin: 0;
         padding: 30px 160px;
         background-color: $black;
         height: 100px;
		}

		&__upper {
         display: flex;
         align-items: center;
		}

		&__logo {
         margin-right: 179px;
		}

      &__logo-img {
         min-height: 40px;
         min-width: 173px;
      }

		&__nav {
         justify-self: flex-start;
         margin-bottom: 6px;
		}

		&__upper-list {
         display: flex;
         list-style: none;
         margin: 0;
         padding: 0;
		}

      &__upper-item {
         font-size: 18px;
         line-height: 24px;
      }

      &__upper-item:not(:last-child) {
         margin-right: 65.3px;
      }

      &__upper-link {
         color: $white;
         transition: color .15s ease;
      }

      &__upper-link:hover {
         color: $light-pink;
      }

      &__upper-link:active {
         color: $pink;
      }

      &__login {
         margin-left: auto;
         margin-bottom: 4px;
         white-space: nowrap;
      }

      &__login:hover &__login-text {
         color: $light-pink;
      }

      &__login:hover &__login-icon path {
         fill: $light-pink;
      }

      &__login:active &__login-text {
         color: $pink;
      }

      &__login:active &__login-icon path {
         fill: $pink;
      }

      &__login-icon {
         display: inline-block;
         height: 13px;
         width: 13px;
      }

      &__login-icon path {
         transition: fill .15s ease;
      }

      &__login-text {
         font-size: 18px;
         color: $white;
         transition: color .15s ease;
      }

      &__lower-container {
         margin: 0;
         padding: 0 160px;
         background-color: rgba($black, 0.4);
		}

		&__lower {
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 70px;
		}

		&__lower-list {
         display: flex;
         margin: 0;
         padding: 0;
         list-style: none;
		}

      &__lower-item {
         white-space: nowrap;
         cursor: pointer;
         font-size: 18px;
         color: $white;
         transition: color .15s ease;
      }

      &__lower-item-icon path {
         transition: stroke .15s ease;
      }

      &__lower-item:hover {
         color: $light-pink;
      }

      &__lower-item:hover &__lower-item-icon path {
         stroke: $light-pink;
      }

      &__lower-item:active {
         color: $pink;
      }

      &__lower-item:active &__lower-item-icon path {
         stroke: $pink;
      }

      &__lower-item:not(:last-child) {
         margin-right: 96px;
      }

      &__lower-search {
         white-space: nowrap;
      }

      &__label {
         display: inline-block;
         width: 22px;
         height: 22px;
         transform: translate(5px, 6px);
      }

      &__input {
         max-width: 218px;
         padding: 0;
         margin: 0;
         margin-left: 10px;
         border: 0;
         border-bottom: 1px solid rgba($white, 0.85);
         font-size: 18px;
         background-color: transparent;
         color: $white;
         transition: border-color .15s ease;
      }

      &__lower-search-icon rect, 
      &__lower-search-icon path {
         transition: fill .15s ease;
      }

      &__input::placeholder {
         color: rgba($white, 0.85);
      }

      &__lower-search:hover &__input {
         cursor: pointer;
         border-color: $pink;
      }

      &__lower-search:hover &__label {
         cursor: pointer;
      }

      &__lower-search:hover &__lower-search-icon rect {
         fill: $pink;
      }

      &__lower-search:hover &__lower-search-icon path {
         fill: $pink;
      }

      &__input:focus {
         outline: 1px solid $pink;
         outline-offset: 5px;
         border-color: $pink;
      }

      &__input:focus::placeholder {
         color: transparent;
      }
}

// Hero

.hero {

    position: relative;
    color: $white;

		&__container {
         margin: 0;
         padding: 0 160px;
         padding-top: 240px;
         padding-bottom: 116px;
         background-image: url("../img/hero-img-1.jpg");
		}

		&__header {
         width: 36%;
         margin: 0;
         font-size: 72px;
         line-height: 82px;
         font-weight: 700;
		}

		&__description {
         width: 36%;
         margin: 0;
         margin-top: 22px;
         margin-bottom: 92px;
         font-size: 18px;
         font-weight: 700;
         line-height: 30px;
		}

      &__btn {
         position: relative;
         max-width: 320px;
         border: 3px solid $pink;
         transition: border .2s ease, background-color .2s ease;
      }

      &__btn:hover {
         border: 3px solid $light-pink;
      }

      &__btn:focus {
         outline: 0;
      }

      &__btn::after {
         content: "";
         position: absolute;
         padding: 42px 165px;
         top: -10px;
         bottom: 0;
         right: 0;
         left: -12px;
         border: 3px solid $pink-dark;
         border-radius: 100px;
         opacity: 0;
         transition: opacity .2s ease;
      }

      &__btn:focus::after {
         opacity: 1;
      }

      &__btn:active {
         background-color: $pink-dark;
      }
}

// About us

.about-us {

		&__container {
      padding: 80px 0;
      padding-bottom: 70px;
    }

		&__description {
      width: 67.5%;
      margin: 0;
      margin-top: 15px;
      color: $dark-gray;
      line-height: 32px;
		}
}

// Gallery

.gallery {

      color: $white;

		&__container {
         margin: 0;
         padding: 0 160px;
         background-image: url("../img/gallery-bg.jpg");
         background-color: $black;
         background-size: cover;
         background-repeat: no-repeat;
		}

		&__row {
         display: flex;
         justify-content: space-between;
         padding: 80px 0;
         padding-bottom: 72px;
		}

		&__column {
         display: flex;
         flex-direction: column;
		}

      &__column:first-of-type {
         width: 25%;
         margin-right: 50px;
      }

      &__column:last-of-type {
         margin-top: 25px;
         width: 75%;
      }

		&__header {
         color: $white; 
		}

      &__filter {
         margin-top: 18px;
      }

		&__filter-header {
         margin: 0;
         font-size: 16px;
         line-height: 32px;
         font-weight: 600;
		}

		&__filter-list {
         margin: 0;
         margin-top: 10px;
         padding: 0;
         list-style: none;
		}

		&__filter-item {
         min-width: 400px;
         max-height: 40px;
         padding: 4px 20px;
         padding-top: 1px;
         border: 1px solid $gray;
         line-height: 32px;
         cursor: pointer;
         color: $gray;
		}

		&__filter-item--selected {
         padding: 8px 15px;
         padding-top: 2px;
         border-color: $white;
         border-radius: 6px;
         background-image: url('../img/arrow-down.svg');
         background-repeat: no-repeat;
         background-position: 96.5% center;
         color: $white;
		}

      &__filter-item--first {
         border-top-left-radius: 6px;
         border-top-right-radius: 6px;
      }

      &__filter-item--last {
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
      }

		&__description {
         margin: 0;
         margin-top: auto;
         line-height: 32px;
         font-weight: 600;
		}

		&__description-link {
         color: $pink;
		}

      &__pagination {
         display: flex;
         align-items: center;
      }

      &__pagination-page {
         margin: 0;
         margin-left: 20px;
         margin-right: 20px;
      }

      &__pagination-btn {
         position: relative;
         cursor: pointer;
      }

      &__pagination-btn:focus {
         outline: 0;
      }

      &__pagination-btn::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 30px;
         height: 30px;
         margin: -2px;
         border: 2px solid $pink-dark;
         border-radius: 50%;
         opacity: 0;
         transition: opacity .15s ease, border-color .15s ease;
      }

      &__pagination-btn path {
         transition: fill .15s ease;
      }

      &__pagination-btn:focus::after {
         opacity: 1;
      }

      &__pagination-btn:hover path:first-of-type {
         fill: $pink;
      }

      &__pagination-btn:active::after {
         border-color: $light-pink;
      } 

		&__layout-list {
         display: grid;
         grid-template-columns: auto auto auto;
         grid-template-rows: auto auto;
         gap: 50px;
         margin: 0;
         margin-top: 25px;
         padding: 0;
         list-style: none;
		}
}

// Catalog

.catalog {

  color: $dark-gray;

   &__container {
      margin-top: 80px;
      margin-bottom: 80px;
   }

   &__heading {
      display: flex;
      align-items: center;
   }

   &__header {
      margin-right: 32px;
   }

   &__heading-list {
      display: flex;
      margin: 0;
      margin-top: 5px;
      padding: 0;
      list-style: none;
   }

   &__heading-item {
      height: 66px;
      width: 66px;
      cursor: pointer;
   }

   &__heading-item:focus {
      outline: 0;
   }

   &__heading-item:not(:last-child) {
      margin-right: 30px;
   }

   &__heading-link {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: filter .2s ease;
   }

   &__heading-link:active,
   &__heading-link:focus {
      outline: none;
   }

   &__heading-link:hover,
   &__heading-link:focus {
      filter: drop-shadow(0px 0px 20px rgba($pink-dark, 0.7));
   }

   &__heading-link::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 9px;
      left: 9px;
      height: 44px;
      width: 44px;
      margin: -2px;
      border: 2px solid $pink-dark;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .2s ease;
   }

   &__heading-link:active {
      filter: none;
   }

   &__heading-link:active::after {
      opacity: 1;
   }

   &__heading-img {
      display: inline-block;
      height: 66px;
      width: 66px;
      background-repeat: no-repeat;
      background-position: 40% 40%;
   }

   &__heading-item--selected {
      border: 2px solid $pink;
      border-radius: 50%;
   }

   &__heading-img--france {
      background-image: url("../img/france.png");
   }

   &__heading-img--germany {
      background-image: url("../img/germany.png");
   }

   &__heading-img--italy {
      background-image: url("../img/italy.png");
   }

   &__heading-img--russia {
      background-image: url("../img/russia.png");
   }

   &__heading-img--belgium {
      background-image: url("../img/belgium.png");
   }

   &__description {
      margin: 0;
      margin-top: 13px;
      width: 67.5%;
      line-height: 32px;
   }

   &__row {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
   }

   &__column:first-of-type {
      margin-right: 50px;
      width: 47%;
   }

   &__column:last-of-type {
      width: 50%;
   }

   &__column-header {
      margin: 0;
      margin-top: 28px;
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
   }

   &__dates {
      margin: 0;
      margin-top: 10px;
      font-size: 12px;
      line-height: 16px;
      color: $gray;
   }

   &__column-description {
      margin: 0;
      margin-top: 5px;
      line-height: 32px;
   }

   &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
   }

   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
      border: 1px solid $light-gray;
      border-left: 0;
      border-right: 0;
      cursor: pointer;
      transition: border-color .2s ease;
   }

   &__item-img {
      transition: transform .2s ease;
   }

   &__item-img path {
      transition: fill .2s ease;
   }

   &__item:hover {
      border-color: $pink;
   }

   &__item:hover &__item-text {
      color: $pink;
   }

   &__item:hover &__item-img path:first-of-type {
      fill: $pink;
   }

   &__item:hover &__item-img path:last-of-type {
      stroke: $white;
   }

   &__item:active {
      border-color: $pink-dark;
      outline: 0;
   }

   &__item:active &__item-text {
      color: $pink-dark;
   }

   &__item:active &__item-img path:first-of-type {
      fill: $pink-dark;
   }

   &__item:active &__item-img {
      border: 2px solid $light-pink;
      border-radius: 50%;
      transform: rotate(180deg);
   }

   &__item:first-of-type {
      flex-direction: column;
      justify-content: center;
      padding: 0;
   }

   &__item-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 0;
   }

   &__item-text {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      transition: color .2s ease;
   }

   &__item-content {
      width: 100%;
      padding: 26px 0;
      margin-bottom: -1px;
      border-top: 1px solid $pink;
      border-bottom: 1px solid $pink;
   }

   &__item-list {
      margin: 0;
      padding: 0;
      list-style: none;
   }

   &__item-link {
      font-size: 16px;
      line-height: 32px;
      color: $dark-gray;
      transition: color .15s ease, padding-bottom .15s ease, border-bottom .15s ease;
   } 

   &__item-link:hover {
      padding-bottom: 2px;
      border-bottom: 1px solid $pink;
      color: $pink;
   }

   &__item-link:active {
      padding-bottom: 0;
      border: none;
      outline: 0;
      color: $pink-dark;
   }
}

// Event

.event {

      &__container {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-bottom: 75px;
      }

      &__header {
         align-self: flex-start;
      }

      &__list {
         width: 100%;
         margin: 0;
         padding: 0;
         padding-left: 10px;
         list-style: none;
         margin-top: 20px;
         display: flex;
         justify-content: space-between;
      }

		&__item {
         display: flex;
         width: 33.33%;
		}

      &__item:not(:last-child) {
         margin-right: 45px;
      } 

		&__btn {
         position: relative;
         padding: 17px 35px;
         margin-top: 50px;
         border: 2px solid $pink;
         outline: 0;
         background-color: transparent;
         color: $pink;
         transition: color .2s ease, background-color .2s ease;
		}

      &__btn:focus {
         outline: 0;
      }

      &__btn::after {
         content: "";
         position: absolute;
         top: -7px;
         left: -8px;
         right: 0;
         bottom: 0;
         padding: 34px 99px;
         border: 2px solid $light-pink;
         border-radius: 100px;
         opacity: 0;
         transition: opacity .2s ease;
      }

      &__btn:focus::after {
         opacity: 1;
      }

      &__btn:hover {
         background-color: $pink;
         color: $white;
      }

      &__btn:active {
         border: 3px solid $light-pink;
         margin-top: 48px;
         outline: 0;
      }
}

.event-card {

      max-height: 700px;
      border: 1px solid $light-gray;

		&__figure {
         min-height: 300px;
         display: flex;
         flex-direction: column;
         align-content: flex-end;
		}

		&__img {
         width: 100%;
         object-fit: cover;
         object-position: center;
		}

		&__caption {
         display: inline-block;
         text-align: right;
         margin-left: auto;
         margin-right: 19px;
         margin-top: 13px;
         width: 150px;
         font-size: 12px;
         line-height: 16px;
         color: $gray;
		}

		&__content {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         min-height: 400px;
         padding: 0 30px 91px 50px;
         color: $dark-gray;
		}

		&__header {
         margin: 0;
         margin-top: 5px;
         font-size: 24px;
         line-height: 32px;
         font-weight: 600;
		}

		&__description {
         margin: 0;
         margin-top: 2px;
         line-height: 32px;
		}

		&__link {
         display: inline-block;
         margin-top: auto;
         border-bottom: 1px solid $pink;
         color: $pink;
         transition: font-weight .15s ease, color .15s ease;
		}

      &__link:hover {
         font-weight: 700;
      }

      &__link:active {
         outline: 0;
         color: $pink-dark;
         border-color: $pink-dark;
      }
}

// Edition 

.edition {

      background-image: url("../img/edition-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: $white;

		&__container {
         margin: 0;
         padding: 80px 160px;
         padding-bottom: 77px;
		}

		&__row {
         display: flex;
		}

		&__column {
         display: flex;
         flex-direction: column;
		}

      &__column:first-child {
         margin-right: 173px;
      }

      &__column:last-child {
         padding-top: 33px;
      }

		&__header {
         color: $white;
		}

      &__filter {
         margin-top: 17px;
      }

		&__filter-header {
         margin: 0;
         font-size: 16px;
         line-height: 32px;
         font-weight: 700;
		}

		&__filter-list {
         margin: 0;
         padding: 0;
         list-style: none;
		}

		&__filter-item {
         font-size: 16px;
         line-height: 32px;
		}

      &__filter-item--selected {
         color: $light-pink;
      }

		&__label {
         position: relative;
         padding-left: 24px;
         cursor: pointer;
         transition: color .15s ease;
		}

      &__label:hover {
         color: $light-pink;
      }

      &__label:hover &__checkbox-custom {
         border-color: $light-pink;
      }

      &__label:hover &__checkbox-custom::before {
         opacity: 1;
      }

      &__label:active {
         color: $pink-dark;
      }

      &__label:active &__checkbox-custom {
         border-color: $pink-dark;
      }

		&__input-checkbox {
         display: none;
		}

      &__checkbox-custom {
         position: absolute;
         top: 5px;
         left: 0;
         width: 12px;
         height: 12px;
         border: 1px solid $white;  
         transition: border-color .15s ease;
      }

      &__checkbox-custom::before {
         content: url("../img/dot.svg");
         position: absolute;
         top: -15px;
         left: 3px;
         opacity: 0;
         transition: opacity .15s ease;
      } 

      &__input-checkbox:checked + &__checkbox-custom::before {
         opacity: 1;
      }

      &__input-checkbox:checked + &__checkbox-custom {
         border-color: $pink;
      }

		&__price {
         margin-top: 26px;
		}

		&__price-header {
         margin: 0;
         font-size: 16px;
         line-height: 32px;
         font-weight: 700;
		}

		&__price-input {
         height: 40px;
         display: flex;
         align-items: center;
         margin-top: 8px;
		}

		&__input-price {
         height: 100%;
         width: 73px;
         padding: 4px 10px;
         border: 1px solid rgba($pink, .5);
         border-right: 0;
         border-left: 0;
         background: rgba($pink, 0.5);
         color: $white;
		}

      &__input-price:focus {
         outline: none;
      }

      &__price-left-text {
         display: flex;
         align-items: center;
         height: 100%;
         margin: 0;
         padding: 4px 10px;
         border: 1px solid rgba($white, .5);
         border-right: 0;
         border-top-left-radius: 6px;
         border-bottom-left-radius: 6px;
         font-size: 16px;
		}

		&__price-center-text {
         display: flex;
         align-items: center;
         height: 100%;
         margin: 0;
         padding: 4px 10px;
         border: 1px solid rgba($white, .5);
         border-right: 0;
         border-left: 0;
		}

		&__price-right-text {
         display: flex;
         align-items: center;
         height: 100%;
         margin: 0;
         padding: 4px 10px;
         border: 1px solid rgba($white, .5);
         border-left: 0;
         border-top-right-radius: 6px;
         border-bottom-right-radius: 6px;
		}

      &__pagination {
         display: flex;
         align-items: center;
      }

      &__pagination-page {
         margin: 0 20px;
      }

      &__pagination-btn {
         position: relative;
         cursor: pointer;
      }

      &__pagination-btn:focus {
         outline: 0;
      }

      &__pagination-btn::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 30px;
         height: 30px;
         margin: -2px;
         border: 2px solid $pink-dark;
         border-radius: 50%;
         opacity: 0;
         transition: opacity .15s ease, border-color .15s ease;
      }

      &__pagination-btn path {
         transition: fill .15s ease;
      }

      &__pagination-btn:focus::after {
         opacity: 1;
      }

      &__pagination-btn:hover path:first-of-type {
         fill: $pink;
      }

      &__pagination-btn:active::after {
         border-color: $light-pink;
      } 

		&__layout {
         margin-top: 27px;
		}

		&__list {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 50px;
         margin: 0;
         padding: 0;
         list-style: none;
		}

		&__item-img {
         height: auto;
         object-fit: contain;
		}

		&__item-content {
         margin-top: 20px;
         display: flex;
         justify-content: space-between;
		}

		&__item-name {
         margin: 0;
         font-size: 16px;
         line-height: 22px;
         font-weight: 700;
		}

		&__item-name--author {
         font-weight: 400;
		}

		&__item-price {
         margin: 0;
         font-size: 16px;
         line-height: 22px;
         font-style: italic;
		}

		&__btn {
         position: relative;
         margin-top: 12px;
         max-width: 120px;
         min-height: 40px;
         padding: 8px 14px;
         border: 2px solid $pink;
         font-size: 16px;
         line-height: 22px;
         font-weight: 700;
         background-color: transparent;
         transition: background-color .2s ease, color .2s ease;
		}

      &__btn:focus {
         outline: 0;
      }

      &__btn::after {
         content: "";
         position: absolute;
         top: -7px;
         left: -8px;
         right: 0;
         bottom: 0;
         padding: 24px 64px;
         border: 2px solid $light-pink;
         border-radius: 100px;
         opacity: 0;
         transition: opacity .2s ease;
      }

      &__btn:focus::after {
         opacity: 1;
      }

      &__btn:hover {
         background-color: $pink;
         color: $white;
      }

      &__btn:active {
         margin-top: 10px;
         border: 3px solid $light-pink;
         outline: 0;
      }
}

// Projects

.projects {

		&__container {
         margin-top: 80px;
         margin-bottom: 80px;
		}

		&__description {
         margin: 0;
         margin-top: 18px;
         width: 67.5%;
         line-height: 32px;
		}

      &__description-link {
         color: $pink;
         transition: padding-bottom .15s ease;
      }

      &__description-link:hover {
         padding-bottom: 2px;
         border-bottom: 1px solid $pink;
      }

      &__description-link:active {
         border-color: $pink-dark;
         color: $pink-dark;
      }

      &__tooltip:focus {
         outline-offset: 1px;
      }

		&__tooltip-img {
         display: inline-block;
         margin-left: 4px;
         transform: translateY(4px);
		}

		&__partners {
         margin-top: 18px;
		}

		&__partners-header {
         margin: 0;
         font-size: 24px;
         line-height: 32px;
         font-weight: 600;
		}

		&__pagination {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 23px;
		}

      &__pagination-btn {
         position: relative;
         cursor: pointer;
      }

      &__pagination-btn:focus {
         outline: 0;
      }

      &__pagination-btn::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 30px;
         height: 30px;
         margin: -2px;
         border: 2px solid $pink-dark;
         border-radius: 50%;
         opacity: 0;
         transition: opacity .2s ease;
      }

      &__pagination-btn path {
         transition: fill .2s ease, stroke .2s ease;
      }

      &__pagination-btn:focus::after {
         opacity: 1;
      }

      &__pagination-btn:hover path:first-of-type {
         fill: $pink;
      }

      &__pagination-btn:hover path:last-of-type {
         stroke: $white;
      }

      &__pagination-btn:active::after {
         border-color: $light-pink;
      }

		&__list {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         margin: 0;
         padding: 0;
         list-style: none;
		}

		&__item {
         display: flex;
         justify-content: center;
         align-items: center;
         min-width: 450px;
         min-height: 150px;
         border: 1px solid $light-gray;
         cursor: pointer;
		}

      &__item:not(:last-child) {
         margin-right: 50px;
      }

      &__img {
         filter: grayscale(1);
         opacity: 0.4;
         transition: filter .2s ease, opacity .2s ease;
      }

      &__item:hover &__img, 
      &__item:focus &__img {
         filter: none;
         opacity: 1;
      }
}

// Contacts

.contacts {

		&__container {
         margin: 0;
		}

      &__header {
         padding-left: 160px;
      }

		&__row {
         display: flex;
         margin-top: 18px;
		}

      &__column:first-of-type {
         padding-top: 120px;
         padding-right: 122px;
         padding-bottom: 116px;
         padding-left: 160px;
         border: 1px solid $light-gray;
      }

		&__column:last-of-type {
         width: 70%;
         background-color: $gray;
         background-image: url("../img/map.png");
         background-size: cover;
		}

		&__address {
         margin: 0;
         font-size: 16px;
         line-height: 32px;
         font-weight: 400;
		}

		&__address--bold {
         font-size: 24px;
         font-weight: 600;
		}

		&__form {
         display: flex;
         flex-direction: column;
         margin-top: 30px;
		}

		&__form-header {
         margin: 0;
         margin-bottom: 20px;
         font-size: 24px;
         line-height: 32px;
         font-weight: 400;
		}

		&__input {
         margin-bottom: 23px;
         min-width: 400px;
         height: 40px;
         padding: 4px 24px;
         border: 1px solid $dark-gray;
         border-radius: 100px;
		}

      &__input::placeholder {
         color: $gray;
      }

		&__btn {
         position: relative;
         height: 25px;
         max-width: 160px;
         padding: 26px 34px;
         margin-top: -4px;
         border: 2px solid $pink;
         font-size: 18px;
         line-height: 24px;
         font-weight: 700;
         background-color: transparent;
         color: $pink;
         transition: color .2s ease, background-color .2s ease;
		}

      &__btn:focus {
         outline: 0;
      }

      &__btn::after {
         content: "";
         position: absolute;
         top: -6px;
         left: -6px;
         right: 0;
         bottom: 0;
         padding: 30px 82px;
         border: 2px solid $light-pink;
         border-radius: 100px;
         opacity: 0;
         transition: opacity .2s ease;
      }

      &__btn:focus::after {
         opacity: 1;
      }

      &__btn:hover {
         background-color: $pink;
         color: $white;
      }

      &__btn:active {
         margin-top: -6px;
         border: 3px solid $light-pink;
         outline: 0;
      }

		&__social {
         margin-top: 38px;
		}

		&__social-header {
         margin: 0;
         font-size: 24px;
         font-weight: 400;
         line-height: 32px;
		}

		&__social-list {
      display: flex;
      margin: 0;
      margin-top: 18px;
      padding: 0;
      list-style: none;
		}

		&__social-item:first-child {
      margin-right: 20px;
		}

		&__social-icon {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
		}

		&__social-icon--whatsup {
      background-image: url("../img/whatsapp.png");
		}

		&__social-icon--tg {
      background-image: url("../img/telegram.png");
		}
}

// Footer

.footer {

    background-color: $black;

		&__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 50px 160px;
		}

		&__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
		}

		&__item:not(:last-child) {
      margin-right: 19px;
		}

		&__icon {
      display: inline-block;
      height: 45px;
      width: 45px;
      background-repeat: no-repeat;
      background-size: contain;
		}

		&__icon--vk {
      background-image: url("../img/vk.svg");
		}

		&__icon--ig {
      background-image: url("../img/ig.svg");
		}

		&__icon--fb {
      background-image: url("../img/fb.svg");
		}
}
